<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="abasilak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Scagja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <abasilak.Properties.Settings>
            <setting name="MeshLabLoadPath" serializeAs="String">
                <value>D:\scagja\Animations</value>
            </setting>
            <setting name="MeshLabServerPath" serializeAs="String">
                <value>C:\Program Files\VCG\MeshLab\meshlabserver.exe</value>
            </setting>
            <setting name="MeshLabExtensionsPath" serializeAs="String">
                <value>C:\Program Files\VCG\MeshLab</value>
            </setting>
            <setting name="PoseSequencePath" serializeAs="String">
                <value>D:\scagja\Models</value>
            </setting>
            <setting name="TexturePath" serializeAs="String">
                <value>D:\scagja\Textures</value>
            </setting>
            <setting name="SMALoadPath" serializeAs="String">
                <value>D:\scagja\SMAs</value>
            </setting>
            <setting name="DesktopPath" serializeAs="String">
                <value>C:\Users\Andreas\Desktop\</value>
            </setting>
        </abasilak.Properties.Settings>
        <Scagja.Properties.Settings>
            <setting name="MeshLabLoadPath" serializeAs="String">
                <value>D:\scagja\Animations</value>
            </setting>
            <setting name="MeshLabServerPath" serializeAs="String">
                <value>C:\Program Files\VCG\MeshLab\meshlabserver.exe</value>
            </setting>
            <setting name="MeshLabExtensionsPath" serializeAs="String">
                <value>C:\Program Files\VCG\MeshLab</value>
            </setting>
            <setting name="PoseSequencePath" serializeAs="String">
                <value>D:\scagja\Models</value>
            </setting>
            <setting name="TexturePath" serializeAs="String">
                <value>D:\scagja\Textures</value>
            </setting>
            <setting name="SMALoadPath" serializeAs="String">
                <value>D:\scagja\SMAs</value>
            </setting>
        </Scagja.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpenTK.GLControl" publicKeyToken="BAD199FE84EB3DF4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="OpenTK" publicKeyToken="BAD199FE84EB3DF4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
